.App {
  text-align: center;
}

h5{
  text-align: center;
  color: rgb(8, 104, 48) ;
}

.infoParagragh{
  text-align: center;
  color: rgb(8, 104, 48) ;
}

.navBar{
  height: 40px;
  width: 100%;
  background-color: rgb(1, 48, 13);
}

li{
  list-style: none;
}

.navbarLi{
  list-style: none;
  float: left;
  color: whitesmoke;
  margin-left: 20%;
  margin-top: 5px;
  text-decoration: none;
}
